* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
  text-shadow: 1px 1px 1px #000;
}

li {
  list-style: none;
  font-size: 20px;
}

.red {
  color: #ad3000;
}
