body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #f187d0;
}

h1 {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 4px;
  color: black;
  text-shadow: 0 4px rgba(255, 255, 255, 0.3);
  white-space: nowrap;
}

.drums-container {
  display: flex;
  text-align: center;
}

.btn {
  padding: 30px 50px;
  background-color: white;
  border: none;
  margin: 10px;
  font-size: 30px;
  min-width: 200px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.3);
  background-image: url("images/snare.webp");
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
}

.btn:hover {
  color: #f187d0;
}

.btn:active {
  background-size: 105%;
}
